* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
  scroll-behavior: smooth;
  max-width: 80rem;
  margin: 0 auto; 
}

:root {
  --title-font: 500;
  --light-font: 300;
  --middle-font: 400;
}

html {
  background-color: #f1f1f1;
}

header {
  margin: 0 auto;
  z-index: 999;
  position: fixed;
  top: 0;
  margin: 0 auto; 
  color: #ff1a1a;
  height: 70px;
  width: 100%;
  background-color: white;
}

.header-container {
  background-color: white;
  padding: -1px;
  top: 0;
  left: 0;
  margin-top: -5px;
  position: relative;
  width: 100%;
}

.header-container h1 {
  font-family: "Poppins", sans-serif;
  position: absolute;
  right: 0;
  top: 17px;
  left: 5px;
  text-align: center;
  font-size: 20px;
}

.menu-icon {
  position: relative;
  background-color: white;
  width: 100%;
}

.bars {
  width: 25px;
  margin-left: 88%;
  margin-top: 20px;
  color: red;
  z-index: 99;
  position: absolute;
}


.search {
  width: 100%;
  font-weight: var(--title-font);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 15px;
  background-color: white;
  margin-top: 60px;
  outline: none;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border: 1px solid #e0e0e0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* button styles */
.btnSearch {
  position: absolute;
  top: 73px;
  right: 0;
  left: 87%;
  background-color: white;

  color: grey;
  height: 30px;
  border: 0px solid #ccc;
  width: 40px;
}

.btnSearch:active {
  transform: scale(0.95);
  color: #495057;
}

/* mobile sidebar */
.blur {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 999;
  position: absolute;
  margin-top: -120px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.slide-nav3 {
  display: none;
}

.title-hamburger {
  width: 30%;
  position: absolute;
  background-color: white;
  color: #424242;
  font-size: 20px;
  z-index: 99999;
  margin-top: -108px;
  padding: 10px;
  margin-left: 11px;
}

.title-hamburger img {
  width: 21px;
  margin-top: 5px;
  position: absolute;
  margin-left: 205px;
}

.title-hamburger img:hover {
  background-color: black;
}

.fa-times {
  margin-left: 60%;
  position: absolute;
  margin-top: 13px;

  color: #424242;
}

.menu-icons {
  background-color: white;
  z-index: 9999;
  list-style: none;
  display: flex;
  width: 75%;
  height: 100vh;
  position: absolute;
  margin-top: -140px;
  flex-direction: column;
  padding-top: 90px;
}

.menu-icons li {
  padding: 10px;
  margin-left: 50px;
}

.menu-icons li img {
  width: 20px;
  margin-left: -40px;
  padding-left: -10px;
  position: absolute;
}

.menu-icons li a {
  color: #424242;
  margin-left: -5px;
  text-decoration: none;
}

ion-icon {
  position: absolute;
  font-size: 22px;
  margin-left: -40px;
  margin-top: -3px;
  color: #424242;
}

.menu-links {
  z-index: 9999;
  list-style: none;
  display: flex;
  width: 70%;
  height: 50px;
  position: absolute;
  margin-top: 78vh;
  flex-direction: row;
}

.menu-links li {
  padding: 10px;
  margin-left: 40px;
}

.menu-links li img {
  width: 23px;
  margin-top: -5px;
  margin-left: -20px;
  padding-left: -10px;
  position: absolute;
}

.menu-links li a {
  margin-left: -20px;
  color: #242424;
  text-decoration: none;
}

/* dropdown menu */
.nextDrop img {
  width: 33px;
  z-index: 999999;
  margin-top: -2px;
  margin-left: 205px;
  padding-left: -10px;
  position: absolute;
}

.nextDrop {
  position: absolute;
  margin-left: 15px;
  width: 245px;
  height: 30px;
  z-index: 9999;
  margin-top: -1px;
}

.nextDrop:hover {
  border: 1px solid #ced4da;
  margin-left: 15px;
  width: 245px;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-content li {
  text-decoration: none;
  margin-left: -10px;
  list-style: none;
}

.dropdown-content li a {
  text-decoration: none;
}

/* navbar and image on home page */
.nav-content {
  text-align: center;
  width: 100%;
  font-weight: bold;
  height: auto;
  margin-top: 110px;
  padding-bottom: 20px;
  background-color: white;
}

.nav-content h1 {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: -40px;
  font-size: 30px;
  color: #050505;
}

.nav-content .img {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.nav-content .img2 img {
  display: none;
}

.nav-content .img img {
  margin-top: -20px;
  display: block;
  height: auto;
  width: 70%;
}

.nav-content p {
  font-weight: var(--light-font);
  width: 90%;
  color: #424242;
  text-align: center;
  margin: auto;
  height: auto;
}

.explore {
  display: none;
}

/* 4 flex items below the navbar */
.menu-container {
  width: 100%;
  scroll-margin-top: 120px;
  height: 170px;
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 5px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid grey;
  background-color: white;
  width: 45%;
  height: 70px;
  border: 1px solid #ddd;
}
.menu:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu img {
  width: 50px;
  margin-left: 10px;
}

.menu:nth-child(4) img {
  margin-left: 2px;
}

.menu h5 {
  font-weight: var(--title-font);
  margin-left: 12px;
  color: #333333;
}

/* Menu slider memunculkan API */

section {
  scroll-margin-top: 120px;
  top: 0;
  margin-top: 25px;
  width: 100%;
  position:relative;
  height: 340px;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
}

.section2 {
  margin-top: 25px;
}

section h3 {
  color: #ff1a1a;
  background-color: #fbfbfb;
  margin-left: 10px;
  margin-top: 16px;
  padding: 1px;
}

.slider-container,
.slider-container2,
.slider-container3,
.slider-container4,
.slider-container5 {
  height: 380px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  flex-direction: row;
  background-color: #fbfbfb;
}

.slider-container2 {
  margin-top: 0px;
}

.slide,
.slide2,
.slide3,
.slide4,
.slide5 {
  margin: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: -10px;
  background-color: white;
  height: 265px;
  border: 1px solid #ddd;
  border-radius: 1%;
}
.slide:hover,
.slide2:hover,
.slide3:hover,
.slide4:hover,
.slide5:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slide img,
.slide2 img,
.slide3 img,
.slide4 img,
.slide5 img {
  overflow: hidden;
  margin: 20px auto;
  width: 162px;
  height: auto;
  object-fit: contain;
}

.slide h4,
.slide2 h4,
.slide3 h4,
.slide4 h4,
.slide5 h4 {
  width: 40%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  margin-left: 18px;
  text-align: left;
  margin-top: -18px;
  padding: 10px;
}

.slide h4 a,
.slide2 h4 a,
.slide3 h4 a,
.slide4 h4 a,
.slide5 h4 a {
  color: black;
  text-decoration: none;
}

.slide p,
.slide2 p,
.slide3 p,
.slide4 p,
.slide5 p {
  color: #050505;
  width: 80%;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 18px;
  margin-top: -10px;
  font-weight: var(--light-font);
}

.slider-container::-webkit-scrollbar,
.slider-container2::-webkit-scrollbar,
.slider-container3::-webkit-scrollbar,
.slider-container4::-webkit-scrollbar,
.slider-container5::-webkit-scrollbar {
  display: none;
}

.fa-angle-right {
  font-size: 20px;
  color: #d9534f;
  margin-left: 93%;
  margin-top: 20px;
  position: absolute;
}

.iconNext {
  font-size: 40px;
  z-index: 99999999;
  position: absolute;
}

/* halaman fetch search */

.food-container {
  margin-top: 110px;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: auto;
  position:relative;
  background-color: #fbfbfb;
  flex-wrap: wrap;
}
.food-container .loader{
  margin-left:0;
}
.card {
  margin: 10px;
  width: 43%;
  height: 20%;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: white;
}
.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card img {
  overflow: hidden;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.card h5 {
  padding-top: 5px;
  margin-left: 8px;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  height: 20px;
  overflow: hidden;
  /*   text-overflow: ellipsis; */
  font-size: 15px;
}
.card h5 a {
  text-decoration: none;
  color: black;
}

.card p {
  font-weight: var(--light-font);
  margin-left: 8px;
  margin-right: 0px;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  font-size: 15px;
  /*   text-overflow: ellipsis; */
  color: black;
}

/* this is pagination index2*/
.pagination-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 80px;
  position: relative;
}
.pagination-next {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: white;
  margin-top: 5%;
  width: 100px;
  position: absolute;
  height: 40px;
  border: none;
  border-radius: 2%;
  margin-left: 65%;
  background-color: #ff1a1a;
  transition: transform 0.5s ease;
}
.pagination-previous {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 7%;
  border-radius: 2%;
  margin-top: 5%;
  width: 100px;
  position: relative;
  height: 40px;
  border: 1px solid #ff1a1a;
  color: #ff1a1a;
  background-color: white;
  transition: transform 0.5s ease;
}

.pagination-next:hover {
  color: white;
  transform: scale(1.1);
}
.pagination-previous:hover {
  color: #ff1a1a;

  transform: scale(1.1);
}

.loader {
  margin-left: 45%;
  margin-top: 150px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #4d4c4c;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
footer {
  height: auto;
  color: #fff;
}

.footer-contact {
  padding: 30px 0;

  background-color: #050505;
}

.footer-contact {
  height: 130px;
}
.footer-contact h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;

  margin-left: 15px;
}

.footer-contact p {
  font-size: 16px;
  line-height: 1.6;

  margin-left: 15px;

  margin-right: 15px;
  color: white;
  font-weight: var(--light-font);
}
.fa-envelope,
.fa-square-instagram,
.fa-phone {
  padding-right: 10px;
}

.footer-copyright {
  background-color: #050505;
}
.copyright-text {
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: var(--light-font);
}

@media (min-width: 480px) {
   section {
    scroll-margin-top: 120px;
    top: 0;
    margin-top: 25px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
  }
  .slider-container,
  .slider-container2,
  .slider-container3,
  .slider-container4,
  .slider-container5 {
    padding-top: 10px;
    height: 300px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    flex-direction: row;
  }
  .slide,
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    width: 45%;
  }
  .bars {
    margin-left: 90%;
  }
  .btnSearch {
    left: 89%;
  }
} 

@media (min-width: 801px) {
  .nav-content {
    height: 440px;
    position: relative;

  }

  .nav-content .img2 {
    display: flex;
    position: relative;
    text-align: right;
    justify-content: right;
    align-items: right;
    margin-left: -25px;
    margin-top: 80px;
    width: 100%;
  }
  
  .nav-content .img img {
    display: none;
  }
  .bars {
    margin-left: 95%;
  }
  .nav-content .img2 img {
    display: block;
    position: absolute;
    width: 25%;
  }

  .nav-content h1 {
    text-align: left;
    width: 65%;
    font-size: 42px;
    margin-top: -10px;
    margin-left: 60px;
    margin-bottom: 10px;
  }

  .nav-content p {
    position: absolute;
    text-align: left;
    width: 60%;
    margin-left: 60px;
    font-size: 28px;
  }

 
  .blur {
    display: none;
    height: 110vh;
  }
  
  .slide h4,
  .slide2 h4,
  .slide3 h4,
  .slide4 h4,
  .slide5 h4 {
    width: 70%;
    margin-left: 19px;
  }
  
  .slide p,
  .slide2 p,
  .slide3 p,
  .slide4 p,
  .slide5 p {
    margin-left: 29px;
    width: 70%;
  }

  .fa-angle-right {
      margin-left: 95%;
    
  }

  .menu-links li {
    margin-top: 650px;
    display: none;
  }

  .header-container h1 {
    text-align: left;
    left: 3%;
    font-size: 20px;
  }

  .menu-links {
    display: flex;
    width: 70%;
    height: 50px;
    position: absolute;
    margin-top: 520px;
    flex-direction: row;
  }

  .menu-links li {
    padding: 10px;
    margin-left: 40px;
  }

  .menu-links li a {
    margin-left: -20px;
    color: #242424;
  }

  .menu-container {
    width: 100%;
    height: 170px;
    gap: 15px;
  }

  .menu {
    flex-direction: row;
    width: 20%;
    height: 90px;
  }

  .menu img {
    width: 50px;
    margin-left: 10px;
  }

  .menu h5 {
    font-size:  17px;
  }

  .slide,
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    margin: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: -10px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 2%;
  }

  .slide img,
  .slide2 img,
  .slide3 img,
  .slide4 img,
  .slide5 img {
    overflow: hidden;
    margin: 20px auto;
    width: 162px;
    height: auto;
    object-fit: contain;
    border-radius: 2%;
  }

  
    .fa-angle-right {
      margin-left: 95%;
    
  }

  section {
    margin-top: 25px;
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
  }

  .slide h4,
  .slide2 h4,
  .slide3 h4,
  .slide4 h4,
  .slide5 h4 {
    width: 50%;
    margin-left: 30px;
    font-size: 17px;
  }

  .slide p,
  .slide2 p,
  .slide3 p,
  .slide4 p,
  .slide5 p {
    margin-top: -2px;
    margin-left: 30px;
    width: 70%;
  }

  section h3 {
    font-size: 22px;
  }

  .food-container {
    position:relative;
    margin-top: 110px;
    gap: 2px;
  }
  .food-container .loader{
    margin-left:0;
  }
  .card {
    margin: 10px;
    width: 19%;
    margin-top: 20px;
    border-radius: 20px;
  }
  .card h5 {
    margin-left: 15px;
    margin-right: 0px;
    width: 85%;
    height: 29px;
  }
  .card h5 a {
    font-size: 19px;
  }
  .card p {
    margin-left: 15px;
    margin-right: 0px;
    padding-bottom: 15px;
    width: 85%;
    font-size: 19px;
  }
  .pagination-next {
    margin-top: 2%;
    margin-left: 80%;
  }
  .pagination-previous {
    margin-left: 10%;
    margin-top: 2%;
  }
  .btnSearch {
    left: 95%;
  }
   .menu-icons{
    width: 34%;
   }
}
@media screen and (min-width: 1024px) {
  .nav-content {
    height: 440px;
}

