* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
html {
  background-color: #f1f1f1;
}
:root {
  --title-font: 500;
  --light-font: 300;
  --middle-font: 400;
}
.detail1 a {
  text-decoration: none;

  color: grey;
}
.detail2 {
  width: 100%;
  height: auto;
  background-color: white;
}
.detail2 h4 {
  margin: 10px;
  padding-top: 10px;
}
.detail2 p {
  margin: 10px;
  padding-bottom: 15px;
}
.detail3 h4 {
  margin: 10px;
  padding-top: 10px;
}
.detail3 {
  width: 100%;
  background-color: white;
}
.detail3 p {
  margin: 10px;
  font-weight: var(--middle-font);
}
.container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.section {
  display: flex;
  align-items: center;
}

.section img {
  width: 47%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  object-fit: cover;
  margin: 5px;
}

.title-link {
  flex-grow: 1;
}

.title {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  margin-left: 20px;
}

.link {
  margin-left: 20px;
  display: inline-block;
  padding: 10px 10px;
  background-color: #ff3333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #cc0000;
}
/* @media (min-width: 800px) {
  body{
    background-color: pink;
  }
  .container {
    height: 700px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 18px;
   margin-top: 350px;
   margin-left: -88%;
  }
.link{
  
  margin-left: -88%;
}
  .link,
  .ingredients {
    font-size: 14px;
  }

  .section img {
    margin-top: -90px;
    margin-right: 0;
  }
}
@media (min-width:1025px) { 
  body{
    background-color: red;
  }} */